{% extends "web/plantilla.html" %}

{% load static %}

{% block contenido %}
<script>
    function actualizar(asignatura) {
        location.href = '/buscar/' + asignatura +'/';
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Asignaturas</h4>
                    <table class="table table-responsive-lg">
                        <tr>
                            <th>Profesor</th>
                            <th>Asignatura</th>
                            <th>Administrar asignatura</th>
                        </tr>
                        {% for item in asignatura %}
                        <tr>
                            <td>{{item.profesor}}</td>
                            <td>{{item.nombre}}</td>
                            <td><button class="btn btn-outline-danger" onclick="actualizar('{{item.nombre}}')">Cambiar Profesor</button>                                
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}