{% extends "web/plantilla.html" %}

{% load static %}
{% block contenido %}


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 col-xlg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>Configurar Stock Bajo</h3>
                    <form class="form-horizontal form-material " action="{% url 'CONFIG' %}" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-12">Stock</label>
                            <div class="col-md-12">
                                <input type="number" min=0 name="txtStock" id="txtStock"
                                    class="form-control form-control-line" required> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" value="Guardar Producto" class="btn btn-dark">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="col-md-12 mensaje">{{msgB}}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-6 col-xlg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>Stock Bajo Actual: {{stock}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xlg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3>cerrar sesión</h3>
                    <a href="{% url 'LOGOUT' %}" class="btn btn-outline-secondary">cerrar sesión</a>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
