{% extends "web/plantilla.html" %}

{% load static %}

{% block contenido %}
<script>
    function actualizar(asignatura) {
        location.href = '/buscar/' + asignatura +'/';
    }
</script>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    {% if user.is_superuser %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Profesores</h4>
                        <table class="table table-responsive-lg">
                            <tr>
                                <th>Profesor</th>
                                <th>Asignatura</th>
                                <th>Administrar asignatura</th>
                            </tr>
                            {% for item in asignatura %}
                            <tr>
                                <td>{{item.profesor}}</td>
                                <td>{{item.nombre}}</td>
                                <td><button class="btn btn-outline-primary " onclick="actualizar('{{item.nombre}}')">Cambiar Profesor</button>
                                
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cargar video</h4>

                    <form class="form-horizontal form-material " action="{% url 'INDEX' %}" method="POST"
                        onsubmit="return">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-12">nombre</label>
                            <input type="text" class="form-control" name="txtnombre" id="txtnombre"
                                placeholder="ingrese nombre para el video">
                        </div>
                        <div class="form-group">
                            <label class="col-12">link</label>
                            <input type="url" class="form-control" name="txtlink" id="txtlink"
                                placeholder="ingrese link del video formato https://youtu.be/ ">
                            <small class="col-12">copiar el link de youtube desde la pestaña
                                compartir</small>
                        </div>
                        <div class="form-group">

                            <label class="col-12">curso</label>
                            <div class="col-12">
                                <select class="form-control form-control-line " name="curso" id="curso">
                                    {% for item in curso %}
                                    <option>{{item.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-12">asignatura</label>
                            <div class="col-12">
                                <select class="form-control form-control-line" name="asig" id="asig">
                                    {% for item in asignatura %}
                                    <option data-chained="{{item.curso}}">{{item.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <input type="submit" value="Guardar video" class="btn btn-dark">
                    </form>



                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">videos subidos</h4>

                    
                        {% for aux in mostrarvideo %}
                            <label class="col-12 pt-2">{{aux.nombre}} - {{aux.asignatura}}</label>
                            <div class="col"> <iframe width="100%" height="auto" src="{{aux.video}}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                                <div class="row">
                                    <div class="btn-group col-6">
                                        <input type="submit" value="Actualizar" class=" btn btn-dark">
                                    </div>
                                    <div class="btn-group col-6">
                                        <input type="submit" value="Eliminar" class=" btn btn-danger">
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock contenido %}