<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/login2.css' %}">
  
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon1.png' %}">
  <title>Emprendo</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"><img src="{% static 'assets/images/logoindex.png' %}" class="col-12" alt=""></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Inicia sesión con tu cuenta</h3>
                            <form action="{% url 'LOGIN' %}" method="POST"> 
                            {% csrf_token %}
                                <div class="form-group mb-3">
                                    <input name="txtUsuario" id="txtUsuario" type="text" placeholder="usuario" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password" name="password" type="password" placeholder="***********" required="" class="form-control rounded-pill border-0 shadow-sm px-4 ">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                </div>
                                <input name="login" id="login" class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm" type="submit" value="Entrar">
                                <label class="col-md-12 mensaje">{{msg}}</label>                                
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>

</body>

</html>
