{% extends "web/plantilla.html" %}

{% load static %}

{% block contenido %}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Agregar Movimiento</h3>
                    <form class="form-horizontal form-material" action="{% url 'GUARDARM' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-lg-6 col-xlg-6 col-md-12">Tipo de Movimiento</label>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <input type="date" name="fecha" id="fecha" class="form-control form-control-line"
                                    required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 col-xlg-6 col-md-12">Tipo de Movimiento</label>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <select class="form-control form-control-line" name="mov" id="mov">
                                    {% for item in tipoMov %}
                                    <option>{{item.categoriaMov}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 col-xlg-6 col-md-12">Categoria</label>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <select class="form-control form-control-line" name="cat" id="cat">
                                    {% for item in categoria %}
                                    <option>{{item.categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 col-xlg-6 col-md-12">Producto</label>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <select class="form-control form-control-line" name="prod" id="prod">
                                    {% for item in producto %}
                                    <option data-chained="{{item.categoria}}">{{item.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-6 col-xlg-6 col-md-12">Cantidad</label>
                            <div class="col-lg-6 col-xlg-6 col-md-12">
                                <input type="number" class="form-control form-control-line" name="txtCantidad"
                                    id="txtCantidad" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" value="Guardar Movimiento" class="btn btn-dark">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="col-md-12 mensaje">{{msgM}}</label>
                                <label class="col-md-12 mensaje">{{msgSalida}}</label>

                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Historial de movimientos</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for aux in lista_movimientos %}
                            <tr>
                                <td>{{aux.fecha}}</td>
                                <td>{{aux.categoriaMov}}</td>
                                <td>{{aux.producto}}</td>
                                <td>{{aux.cantidad}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    <div class="text-center">
                        <a class="btn  btn-outline-success center" href="{% url 'EXCELMOV'%}">Descargar Excel </a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

{% endblock contenido %}