{% extends "web/plantilla.html" %}

{% load static %}

{% block contenido %}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Asignatura</h4>

                    <form class="form-horizontal form-material " action="{% url 'MOD' %}" method="POST"
                        onsubmit="return">
                        {% csrf_token %}
                        <div class="form-group col-12">
                            <input type="text" class=" form-control-plaintext" readonly  name="nombre" id="nombre" value={{asignatura.nombre}}>
                        </div>
                        <div class="form-group">
                            <label class="col-12">profesor</label>
                            <div class="col-12">
                                <select class="form-control form-control-line " name="profesor" id="profesor">
                                    {% for item in user %}
                                    <option >{{item.username}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Actualizar" class="btn btn-dark">
                    </form>
                </div>
            </div>
        </div>
        
    </div>

</div>
{% endblock contenido %}