/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
 
  min-height: 100vh;
}

.bg-image {
  margin-top: 100px;
  margin-bottom: 100px;

  background-size: cover;
  background-position: center center;
}